Repository sschueller/rpi-3d-printer-board: changes, and which GitLab CI jobs are due for each by the changed paths.
All: erc, drc, sch_outputs, pcb_outputs

erc:
  image: setsoft/kicad_auto:latest
  stage: testing
  script:
  - '[ -f *.sch ] && kibot -d Fabrication -s update_xml,run_drc -i'
  artifacts:
    when: always
    paths:
    - Fabrication/

drc:
  image: setsoft/kicad_auto:latest
  stage: testing
  script:
  - '[ -f *.kicad_pcb ] && kibot -d Fabrication -s update_xml,run_erc -i'
  artifacts:
    when: always
    paths:
    - Fabrication/

sch_outputs:
  image: setsoft/kicad_auto:latest
  stage: gen_fab
  script:
  - '[ -f *.sch ] && kibot -d Fabrication -s run_drc,run_erc print_sch'
  artifacts:
    when: always
    paths:
    - Fabrication/

pcb_outputs:
  image: setsoft/kicad_auto:latest
  stage: gen_fab
  script:
  - '[ -f *.kicad_pcb ] && kibot -d Fabrication -s all print_front gerbers'
  artifacts:
    when: always
    paths:
    - Fabrication/

Updates
  .gitlab-ci.yml
Due: erc, drc, sch_outputs, pcb_outputs

Updates
  .dockerignore
  .gitlab-ci.yml
  .kibot.yaml
  ci/Dockerfile
Due: erc, drc, sch_outputs, pcb_outputs

Updates
  .gitlab-ci.yml
  .kibot.yaml
Due: erc, drc, sch_outputs, pcb_outputs

Updates
  .gitlab-ci.yml
  output.kibot.yaml
  test.kibot.yaml
Due: erc, drc, sch_outputs, pcb_outputs

Updates
  test.kibot.yaml
Due: none

fix: Added Title to Readme
  README.md
Due: none

chore(release): 1.0.0 [only cd]
  CHANGELOG.md
Due: none

fix: CI
  .gitlab-ci.yml
Due: erc, drc, sch_outputs, pcb_outputs

chore(release): 1.0.1 [only cd]
  CHANGELOG.md
  VERSION.txt
Due: none

Updates
  fanboard3-cache.lib
  fanboard3.sch
  libraries/fanboard3-rescue.dcm
  libraries/fanboard3-rescue.lib
Due: erc, sch_outputs

Added photos
  README.md
Due: none

BOM fixes
  README.md
Due: none

Path conditions:
  erc: any of: **.sch, .gitlab-ci.yml
  drc: any of: **.kicad_pcb, .gitlab-ci.yml
  sch_outputs: any of: **.sch, .gitlab-ci.yml
  pcb_outputs: any of: **.kicad_pcb, .gitlab-ci.yml
